doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title
			|	Doña Ana
		link(rel="stylesheet", type="text/css", href="../css/estilos.css")
	body
		div.u-centrar
			div.Header
				include ../components/Header/template.jade
				include ../components/Menu/template.jade
		div.Main-content
			include ../components/Emprendimientos/interna.jade
			include ../components/Footer/template.jade
		include ../components/Redes/template.jade
		include ../components/Scripts/scripts.jade