script("text/javascript", src="../js/jquery-3.0.0.min.js")
script("text/javascript", src="../js/owl.carousel.min.js")
script("text/javascript", src="../js/lightbox.min.js")
script("text/javascript", src="../js/responsive.min.js")
script("text/javascript", src="../js/functions.js")