div.u-centrar
	h2.u-mainTitle
		|	CONTÁCTENOS
section.Contacto
	div.u-centrar
		div.u-halfColumn
			form
				fieldset
					label.input-label(for="nombre")
						|	Nombre:
					input(type="text", name="nombre", required, autofocus)
				fieldset
					label.input-label(for="email")
						|	E-mail:
					input(type="email", name="email", required)
				fieldset
					label.input-label(for="tel")
						|	Tel/Cel:
					input(type="text", name="tel")
				fieldset
					label.input-label(for="ciudad")
						|	Ciudad:
					input(type="text", name="ciudad")
				fieldset
					label.textarea-label(for="mensaje")
						|	Mensaje:
					textarea(name="mensaje", required)
				div.Contacto-btnContainer
					a.Contacto-btn(href="")
						span.Contacto-btnTxt
							|	Enviar
						span.icon-mail
		a.Contacto-right.u-halfColumn(href="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4437.392251129528!2d-74.8685829!3d9.0945529!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sco!4v1469760896066",data-modal-title="Locación Doña Ana")
			img(src="../images/05-contacto/mapa.jpg")