/*FOOTER*/

/*seccion apoya*/
.Apoya

	&-titleC
		margin-top -3.5em
		background white
		display inline-block
		
		& > .u-mainTitle
			margin 0 22px
			
	&-list
		margin 0 auto
		text-align center
		
	&-item
		display inline-block
		margin 15px 60px
		
	&-txt
		font-weight 400
		font-size 1.37em
		color $gris2
		max-width 848px
		display inline-block
		
.Footer
	width 100%
	background $verde2
	color white
	
	& a
		color white
	
	&-borde
		border-top 10px solid transparent;
		background url('../images/01-index/borde-rayas.png') repeat
		width 100%
		float left
		
	/*Link Ubicación*/
		
	&-ubi		
		font-weight 400
		font-family:"MyriadPro";
		font-size 1.5em
		
	&-ubiLink
		display inline-block
		color white
		margin 1em 0
		cursor pointer
		
		& .icon-pin-map
			font-size 2em
			vertical-align middle
		
	&-ubiTxt
		padding 0 50px
		vertical-align middle
	
	/*Contacto*/
	&-contact p
		display inline-block
		max-width 465px
		font-weight 400
		font-family:"MyriadPro";
		font-size 1.87em
		vertical-align middle
		margin 16px 32px
		
	&-contactBtn
		display inline-block
		color white
		cursor pointer
		vertical-align middle
		font-family:"MyriadProC";
		font-size 2.93em
		position relative
		border 3px solid white
		box-sizing border-box
		margin 16px 32px
		
		& .icon-chevron-right			
			background white
			color $verde2
			display inline-block
			vertical-align middle
			width 70px
			height 70px
			line-height 70px
		
	&-contactBtnTxt
		padding 0 50px
		color white
		display inline-block
		vertical-align middle
		line-height 70px
		
	/*Social*/
	&-social
		font-family:"MyriadProC";
		font-size 1.12em
		color white
		
		& a
			color white
			cursor pointer
			display inline-block
			margin 20px 30px
			
		& a span
			font-size 1.7em
			vertical-align middle
			padding-right 18px
	/*Menu*/
	&-menu
		display inline-block
		width 100% 
		
		& div
			display flex
			justify-content space-around
			margin 20px 0 50px
			
		& div a
			cursor pointer
			color white
	
	/*Copyright*/
		
	&-copy
		background white
		color $turquesa2
		width 100%
		display inline-block
		font-family:"FuturaMC";
		font-weight 500
		font-size 1.25em
		
		& a
			color $turquesa2
			cursor pointer