/*FOOTER*/

/*seccion apoya*/
.Apoya

	&-titleC
		margin-top -3.5em
		background white
		display inline-block
		
		& > .u-mainTitle
			margin 0 22px
			
	&-list
		margin 0 auto
		text-align center
		
	&-item
		display inline-block
		margin 15px 60px
		
	&-txt
		font-weight 400
		font-size 1.37em
		color $gris2
		max-width 848px
		display inline-block
		
.Footer
	width 100%
	background $verde2
	color white
	
	& a
		color white
	
	&-borde
		border-top 10px solid transparent;
		background url('../images/01-index/borde-rayas.png') repeat
		width 100%
		float left
		
	&-copy
		background white
		color $turquesa2
		width 100%
		display inline-block
		font-family:"FuturaMC";
		font-weight 500
		font-size 1.25em
		
		& a
			color $turquesa2