div.u-bordePunto
	div.Apoya-titleC
		h2.u-mainTitle
			|	APOYA
div.Apoya-list
	div.Apoya-item
		img(src="../images/01-index/min-hacienda.png")
	div.Apoya-item
		img(src="../images/01-index/fondo-adapta.png")
	div.Apoya-item
		img(src="../images/01-index/nuevo-pais.png")
div.u-centrar
	p.Apoya-txt
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima doloribus quod illum molestiae, dicta et aut praesentium, maxime dolores iure, ratione voluptatem? Tenetur omnis quas asperiores temporibus, praesentium debitis ducimus.
div.Footer-borde
	footer.Footer
		div.u-centrar
			div.Footer-ubi
				a.Footer-ubiLink(href="")
					span.icon-pin-map
					span.Footer-ubiTxt
						| Locación Doña Ana
			div.Footer-contact
				p
					|	Si deseas información adicional o apoyar nuestros emprendimientos.
				a.Footer-contactBtn(href="contacto.html")
					span.Footer-contactBtnTxt
						|	CONTÁCTENOS
					span.icon-chevron-right
			div.Footer-social
				a(href="")
					span.icon-facebook
					| Facebook
				a(href="")
					span.icon-twitter
					| Twitter
				a(href="")
					span.icon-instagram2
					| Instagram
				a(href="")
					span.icon-linkedin
					| LinkedIn
			nav.Footer-menu
				div
					a(href="index.html")
						| Inicio
					a(href="quienes.html")
						| Quiénes somos
					a(href="emprendimientos.html")
						| Nuestros emprendimientos
					a(href="noticias.html")
						| Noticias
					a(href="contacto.html")
						| Contáctenos
					a(href="")
						| Mapa del sitio
					a(href="")
						| Politicas de privacidad
	div.Footer-copy
		div.u-centrar
			p
				|	Todos los derechos reservados Emprende Ya 2016. Diseño y desarrollo del sitio web por...