div.Redes
	a.Redes-link(href="https://www.facebook.com/ComunidadDonaAna/", target="_blank")
		span.icon-facebook2
	a.Redes-link(href="https://twitter.com/DonaAnaUnida", target="_blank")
		span.icon-twitter
	a.Redes-link(href="https://www.instagram.com/comunidaddonaana/", target="_blank")
		span.icon-instagram2
	a.Redes-link(href="https://www.linkedin.com/in/comunidad-do%C3%B1a-ana-sucre-89b455125?trk=nav_responsive_tab_profile", target="_blank")
		span.icon-linkedin