/*BANNER*/

.Banner
	text-align center	
	
	&-item
		text-align center
		
		& img
			vertical-align bottom
		
/*Puntos Owl*/

.Banner .owl-controls .owl-page span
	background $turquesa
	opacity 1
	width 16px
	height 16px
	
.Banner .owl-controls .owl-page.active span,
.Banner .owl-controls .owl-page:hover span
	background $naranja1