div.u-centrar
	div.News-actual
		h2.u-mainTitle
			|	ACTUALIDAD
		a.News-actualL(href="noticias.html")
			img(src="../images/04-noticias/ninos1.jpg")
			div.News-actualUp
				h3.News-actualTitle
					|	AQUÍ: el nuevo DOÑA ANA
			div.News-actualBottom
				p
					|	Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias
				span
					|	VER MAS
	div.Twitter
		a.twitter-timeline(data-lang="es", data-width="307", data-height="550", data-dnt="true", data-theme="light", href="https://twitter.com/DonaAnaUnida")
			|	Tweets by DonaAnaUnida
		script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")