/*NEWS*/

.News
	
	/*seccion actualidad del index*/

	&-actual
		display inline-block
		max-width 720px
		vertical-align top		
			
	&-actualL
		display inline-block
		position relative
		cursor pointer
		
		& img
			vertical-align bottom
		
	&-actualUp
		position absolute
		top 0
		left 0
		right 0		
		background $turquesa_transparent
		
	&-actualTitle
		color white
		font-family:"FuturaBC";
		font-weight 700
		font-size 1.8em
		margin .3em 1em
		text-align left
		
	&-actualBottom
		position absolute
		bottom 0
		left 0
		right 0
		background $transparent_white
		color $gris2
		
		& p
			display none
			
		& span
			display block
			margin 16px 0
			font-family:"FuturaBC";
			font-weight 700
			font-size 1.37em
			color $gris2
			
	/*"noticias.html"*/
	&-destacada
		width 95%
		margin 0 2.5%
		text-align justify
		
		& .u-subTitle
			font-size 2.18em
			
		& p
			font-size 1.87em
			font-weight 400
			font-family:"MyriadPro";
			color $gris2
			
	&-destacadaBtn
		text-align center
	&-btn
		display inline-block		
		cursor pointer
		margin 8px
		font-family:"MyriadProC";
		font-size 2.4em
	
	&-btnTxt1
	&-btnTxt2
		padding 10px 7px 3px 13px
		border 3px solid $turquesa
		display inline-block
		
	&-btnTxt1
		color $turquesa
		background white
	&-btnTxt2
		color white
		background $turquesa
		padding 10px 13px 3px 3px
		
	&-list
		margin-bottom 32px
		width 100%
		display inline-block
		
	&-item
		display inline-block
		width 308px		
		text-align center
		margin 2px
		vertical-align middle
		cursor pointer
		
		& figure
			width 308px
			height 200px
			margin 0
			display inline-block
	
		& img
			vertical-align bottom
			
	&-title
		font-weight 700
		font-size 1.5em
		font-family:"FuturaBC";
		margin 16px 0
	
	&-descMin
		color $gris
		font-size 1.12em
		font-weight 400
		font-family:"MyriadPro";
		margin 0
		
	/*Interna*/
	&-int
		width 95%
		margin 0 2.5%
		text-align justify
		
		& p
			color black
			font-size 1.25em
			font-weight 400
			font-family:"MyriadPro";
		
	&-info
		font-weight 700
		font-size 1.12em
		font-family:"FuturaBC";
		
	&-redesTxt
		font-family:"FuturaBC";
		font-weight 700
		font-size 1.87em
		margin 14px 0
		
	&-redes
		text-align center
	
	&-redesBtn
		display inline-block
		cursor pointer
		margin 15px		
		box-sizing border-box
		vertical-align middle
		width 120px
		height 36px
		
		&:nth-child(1)
			border 3px solid $azul_face
			color  $azul_face
		&:nth-child(2)
			border 3px solid $azul_twitter
			color $azul_twitter
		&:nth-child(3)
			border 3px solid $rojo_gooplus
			color $rojo_gooplus
			
		& .icon-facebook2
		& .icon-twitter
		& .icon-google-plus3
			display inline-block
			vertical-align middle
			width 32px
			height 32px
			font-size 22px
			line-height 32px
			color white
			float left
			
		& .icon-facebook2
			background $azul_face
			
		& .icon-twitter
			background $azul_twitter
			
		& .icon-google-plus3
			background $rojo_gooplus
		
	&-redesBtnTxt
		font-size .99em
		font-weight 400
		font-family:"MyriadPro";
		display inline-block
		vertical-align middle
		line-height 32px
		
		
/*Contoles Owl*/

.News-list .owl-controls .owl-buttons div
	position absolute
	top 35%
	font-size 3em
	color $verde
	opacity 1
	padding 0
	margin 0
	border-radius inherit
	background transparent	

.News-list .owl-controls .owl-buttons div span
	vertical-align middle
	display block	

.News-list .owl-controls .owl-buttons .owl-prev 
	left 0

.News-list .owl-controls .owl-buttons .owl-next
	right 0

@media screen and (min-width:600px)
	.News
		&-actualBottom
			& p
				display block
				margin 1em 16px 0
				font-family:"MyriadPro";
				font-weight 400
				font-size 1.37em
				color $gris2
			& span
				margin 0 0 1em
			
@media screen and (min-width:840px)
	.News
		/*actualidad index*/
		&-actualTitle
			font-size 2.5em

@media screen and (min-width:960px)
	.News
		/*"noticias.html"*/
		&-destacada
			& .u-halfColumn:first-child
				width 50%
				margin-right 2.5%
		/*interna*/
		&-int
			& .u-halfColumn:first-child
				width 50%
				margin-right 2.5%
			
@media screen and (min-width:1100px)
	.News
		/*"noticias.html"*/
		&-destacada
		&-int
			width 100%
			margin 0

@media screen and (min-width:1160px)
	.News-list .owl-controls .owl-buttons .owl-prev 
		left -40px

	.News-list .owl-controls .owl-buttons .owl-next
		right -40px