/*NEWS*/

.News
	
	/*seccion actualidad del index*/

	&-actual
		display inline-block
		max-width 720px
		vertical-align top		
			
	&-actualL
		display inline-block
		position relative
		cursor pointer
		
		& img
			vertical-align bottom
		
	&-actualUp
		position absolute
		top 0
		left 0
		right 0		
		background $turquesa_transparent
		
	&-actualTitle
		color white
		font-family:"FuturaBC";
		font-weight 700
		font-size 1.8em
		margin .3em 1em
		text-align left
		
	&-actualBottom
		position absolute
		bottom 0
		left 0
		right 0
		background $transparent_white
		color $gris2
		
		& p
			display none
			
		& span
			display block
			margin 16px 0
			font-family:"FuturaBC";
			font-weight 700
			font-size 1.37em
			color $gris2
@media screen and (min-width:600px)
	.News
		&-actualBottom
			& p
				display block
				margin 1em 16px 0
				font-family:"MyriadPro";
				font-weight 400
				font-size 1.37em
				color $gris2
			& span
				margin 0 0 1em
			
@media screen and (min-width:840px)
	.News
		/*actualidad index*/
		&-actualTitle
			font-size 2.5em