div.u-centrar
	h2.u-mainTitle.u-cturquesa
		|	AQUÍ: el nuevo DOÑA ANA
	section.News-int
		div.u-halfColumn
			div.News-info.u-cturquesa
				div
					|	Por: Pepe Perez
				div
					span.icon-calendar
					span
						|	01 de Enero de 2017
			p
				|	Emprede-ya viene desarrollando emprendimientos en diferentes sectores económicos con el fin de incentivar y dar un aumento a la rotación del dinero en el corregimiento y motivar a sus habitantes a la creación de negocios como proyecto de vida y lograr que la comunidad pues crecer en conjunto y hacer de Doña Ana un espacio de innovación social.
			h3.News-redesTxt.u-cturquesa
				|	Compartir en:
			div.News-redes
				a.News-redesBtn(href="")
					span.icon-facebook2
					span.News-redesBtnTxt
						|	facebook
				a.News-redesBtn(href="")
					span.icon-twitter
					span.News-redesBtnTxt
						|	twitter
				a.News-redesBtn(href="")
					span.icon-google-plus3
					span.News-redesBtnTxt
						|	Google +
		div.News-destacadaImg.u-halfColumn
			img(src="../images/04-noticias/ninos1.jpg")
		p
			|	Emprede-ya viene desarrollando emprendimientos en diferentes sectores económicos con el n de incentivar y dar un aumento a la rotación del dinero en el corregimiento y motivar a sus habitantes a la creación de negocios como proyecto de vida y lograr que la comunidad pues crecer en conjunto y hacer de Doña Ana un espacio de innovación social.
		p
			|	Somos una entidad adscrita al Ministerio de Hacienda y Crédito público del Gobierno Colombiano que fue inicialmente creada para atender la construcción, reconstrucción, recuperación y reactivación económica y social de las zonas afectadas por los eventos derivados del fenómeno de La Niña de los años 2010 y 2011.
		p
			|	Desde que iniciamos nuestra labor a finales de 2011 hemos cumplido con nuestro compromiso, liderando acciones de reconstrucción con transformación que han contribuido al desarrollo sostenible, al bienestar económico y social y a mejorar la calidad de vida de miles de colombianos en todas las regiones del país.
		p
			|	En el 2015, con la expedición de la Ley 1753 de 2015 mediante la cual se adopta el Plan de desarrollo 2014-2018 “Todos por un nuevo país”, se le atribuyó al Fondo la facultad de ejecutar proyectos integrales de
	h2.u-mainTitle
		|	OTRAS NOTICIAS
	section.News-list
		a.News-item(href="noticias_int.html")
			figure
				img(src="../images/04-noticias/14.jpg")
			h4.News-title.u-cturquesa
				|	Construyendo desde CERO
			p.News-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.News-item(href="noticias_int.html")
			figure
				img(src="../images/04-noticias/ana.jpg")
			h4.News-title.u-cturquesa
				|	¡Adios! a DOÑA ANA
			p.News-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.News-item(href="noticias_int.html")
			figure
				img(src="../images/04-noticias/people.jpg")
			h4.News-title.u-cturquesa
				|	Otra nota Doña Anna
			p.News-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.News-item(href="noticias_int.html")
			figure
				img(src="../images/04-noticias/ninos1.jpg")
			h4.News-title.u-cturquesa
				|	Construyendo desde CERO
			p.News-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.