div.u-centrar
	h2.u-mainTitle
		|	NOTICIAS
	section.News-destacada
		div.u-halfColumn
			h2.u-subTitle.u-cturquesa
				|	AQUÍ: el nuevo DOÑA ANA
			p
				|	Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias.
			div.News-destacadaBtn
				a.News-btn(href="noticias_int.html")
					span.News-btnTxt1
						|	VER
					span.News-btnTxt2
						|	MAS
		div.News-destacadaImg.u-halfColumn
			img(src="../images/04-noticias/ninos1.jpg")
	h2.u-mainTitle
		|	OTRAS NOTICIAS
	section.News-list
		a.News-item(href="noticias_int.html")
			figure
				img(src="../images/04-noticias/14.jpg")
			h4.News-title.u-cturquesa
				|	Construyendo desde CERO
			p.News-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.News-item(href="noticias_int.html")
			figure
				img(src="../images/04-noticias/ana.jpg")
			h4.News-title.u-cturquesa
				|	¡Adios! a DOÑA ANA
			p.News-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.News-item(href="noticias_int.html")
			figure
				img(src="../images/04-noticias/people.jpg")
			h4.News-title.u-cturquesa
				|	Otra nota Doña Anna
			p.News-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.News-item(href="noticias_int.html")
			figure
				img(src="../images/04-noticias/ninos1.jpg")
			h4.News-title.u-cturquesa
				|	Construyendo desde CERO
			p.News-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.