/*EMPRENDIMIENTOS*/

.Empre

	/*Slider*/

	&-slide
		width 100%

	&-slide > *
		border 1px solid red

	&-slideItem
		display inline-block
		width 308px
		height 320px
		text-align center
		margin 2px
		vertical-align middle
		cursor pointer
	&-title
		font-weight 700
		font-size 1.62em
		font-family:"FuturaBC";
		margin 1em 0
	&-descMin
		color $gris
		font-size 1.12em
		font-weight 400
		font-family:"MyriadPro";
		margin 0

/*Contoles Owl*/

.Empre-slide .owl-controls .owl-buttons div
	position absolute
	top 40%
	font-size 3em
	color $verde
	opacity 1
	padding 0
	border-radius inherit
	background transparent
	
.Empre-slide .owl-controls .owl-buttons div span
	vertical-align middle
	display block
	
.Empre-slide .owl-controls .owl-buttons .owl-prev 
	left -40px

.Empre-slide .owl-controls .owl-buttons .owl-next
	right -40px