div.u-centrar
	h2.u-mainTitle
		|	NUESTROS EMPRENDIMIENTOS
	div.Empre-main
		div.Empre-center
			div.Empre-round
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/agricultura.png")
					h4.Empre-title.u-cVerde
						|	AGRICULTURA
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/piscicultura.png")
					h4.Empre-title.u-cturquesa
						|	PISCICULTURA
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/porcicultura.png")
					h4.Empre-title.u-cNaranja
						|	PORCICULTURA
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/marroquineria.png")
					h4.Empre-title.u-cMarron
						|	MARROQUINERÍA
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/maquila.png")
					h4.Empre-title.u-cGray
						|	MAQUILA
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/comidas_rapidas.png")
					h4.Empre-title.u-cLred
						|	COMIDAS RÁPIDAS
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/panaderia.png")
					h4.Empre-title.u-cLbrown
						|	PANADERÍA
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/tiendas.png")
					h4.Empre-title.u-cPurple
						|	TIENDAS
				a.Empre-roundItem(href="emprendimientos_int.html")
					img(src="../images/03-emprendimientos/peluqueria.png")
					h4.Empre-title.u-cAmarillo
						|	PELUQUERÍA
		a.Empre-circle(href="#",data-index="0")
			img(src="../images/03-emprendimientos/agricultura.png")
			h4.Empre-title.u-cVerde
				|	AGRICULTURA
		a.Empre-circle(href="#",data-index="1")
			img(src="../images/03-emprendimientos/piscicultura.png")
			h4.Empre-title.u-cturquesa
				|	PISCICULTURA
		a.Empre-circle(href="#",data-index="2")
			img(src="../images/03-emprendimientos/porcicultura.png")
			h4.Empre-title.u-cNaranja
				|	PORCICULTURA
		a.Empre-circle(href="#",data-index="3")
			img(src="../images/03-emprendimientos/marroquineria.png")
			h4.Empre-title.u-cMarron
				|	MARROQUINERÍA
		a.Empre-circle(href="#",data-index="4")
			img(src="../images/03-emprendimientos/maquila.png")
			h4.Empre-title.u-cGray
				|	MAQUILA
		a.Empre-circle(href="#",data-index="5")
			img(src="../images/03-emprendimientos/comidas_rapidas.png")
			h4.Empre-title.u-cLred
				|	COMIDAS RÁPIDAS
		a.Empre-circle(href="#",data-index="6")
			img(src="../images/03-emprendimientos/panaderia.png")
			h4.Empre-title.u-cLbrown
				|	PANADERÍA
		a.Empre-circle(href="#",data-index="7")
			img(src="../images/03-emprendimientos/tiendas.png")
			h4.Empre-title.u-cPurple
				|	TIENDAS
		a.Empre-circle(href="#",data-index="8")
			img(src="../images/03-emprendimientos/peluqueria.png")
			h4.Empre-title.u-cAmarillo
				|	PELUQUERÍA