div.u-centrar
	h2.u-mainTitle
		|	NUESTROS EMPRENDIMIENTOS
	div.Empre-slide
		div.Empre-slideItem
			img(src="../images/03-emprendimientos/agricultura.png")
			h4.Empre-title.u-cVerde
				|	AGRICULTURA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi beatae temporibus, fuga architecto rem, numquam ipsam vel, ullam quibusdam aut nobis laboriosam obcaecati sed amet et. Quam, voluptates magni cumque!
		div.Empre-slideItem
			img(src="../images/03-emprendimientos/piscicultura.png")
			h4.Empre-title.u-cturquesa
				|	PISCICULTURA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		div.Empre-slideItem
			img(src="../images/03-emprendimientos/peluqueria.png")
			h4.Empre-title.u-cAmarillo
				|	PELUQUERIA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		div.Empre-slideItem
			img(src="../images/03-emprendimientos/marroquineria.png")
			h4.Empre-title.u-cMarron
				|	MARROQUINERIA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.