div.u-centrar
	h2.u-mainTitle
		|	NUESTROS EMPRENDIMIENTOS
	section.Empre-list
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/agricultura.png")
			h4.Empre-title.u-cVerde
				|	AGRICULTURA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/piscicultura.png")
			h4.Empre-title.u-cturquesa
				|	PISCICULTURA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/peluqueria.png")
			h4.Empre-title.u-cAmarillo
				|	PELUQUERIA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/marroquineria.png")
			h4.Empre-title.u-cMarron
				|	MARROQUINERIA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/tiendas.png")
			h4.Empre-title.u-cPurple
				|	TIENDAS
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/porcicultura.png")
			h4.Empre-title.u-cNaranja
				|	PORCICULTURA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/panaderia.png")
			h4.Empre-title.u-cLbrown
				|	PANADERIA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/comidas_rapidas.png")
			h4.Empre-title.u-cLred
				|	COMIDAS RAPIDAS
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		a.Empre-slideItem(href="")
			img(src="../images/03-emprendimientos/maquila.png")
			h4.Empre-title.u-cGray
				|	MAQUILA
			p.Empre-descMin
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.