@import "nib"
@import "normalize.styl"

/*Fuentes*/

@font-face
	font-family:"Simplicity";
	src: url('../fonts/simplicity.ttf');
	
@font-face
	font-family:"FuturaBC";
	src: url('../fonts/Futurabc.ttf');
	
@font-face
	font-family:"FuturaMC";
	src: url('../fonts/Futuramc.ttf');
	
@font-face
	font-family:"MyriadPro";
	src: url('../fonts/MyriadPro-Regular.otf');

@font-face
	font-family:"MyriadProC";
	src: url('../fonts/MyriadPro-Cond.otf');
	
/*ICONOS COMO FUENTES*/
@import "iconfonts.styl"

$verde = #83B94B
$verde2 = #72A09B
	
$naranja = #C75E30
$naranja1 = #E65F29
$naranja2 = #EF8D06

$turquesa = #50ABCA
$turquesa2 = #72A7C6

$turquesa_transparent = rgba(114,165,196,.5)
$transparent_white = rgba(255,255,255,.5)

$amarillo = #F4AB22

$gris = #B7B9BA
$gris2 =#5D5D5D

$marron = #947A00
$purple = #93278F
$light_brown = #AE975B
$light_red = #A64C55
$dark_gray = #4D4D52

// *
// 	border 1px solid red

html
	font-size 16px
	// font-family 'Open Sans', sans-serif /* Fuente de google fonts */

body
	background white

img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
.u-centrar
	margin 0 auto
	max-width 1064px
	text-align center
	
.u-mainTitle
	font-family:"FuturaBC";
	font-weight 700
	font-size 2.18em
	color $naranja1
	
.u-bordePunto
	width 100%
	border-top 6px dotted rgba(80,171,202,0.6)
	text-align center
	margin 2em 0	
	
.u-cVerde
	color $verde
.u-cNaranja
	color $naranja
.u-cturquesa
	color $turquesa
.u-cAmarillo
	color $amarillo
.u-cMarron
	color $marron
.u-cPurple
	color $purple
.u-cLbrown
	color $light_brown
.u-cLred
	color $light_red
.u-cGray
	color $dark_gray
	
.Twitter
	width 307px
	height 550px
	background #E5F1F7
	display none
	vertical-align top
	margin 2em 0 2em 32px
	
/*Owl Carousel*/
@import "owl.carousel.styl"
@import "owl.theme.styl"

/*HEADER*/
@import "../components/Header/estilos.styl"
/*MENU*/
@import "../components/Menu/estilos.styl"
/*BANNER*/
@import "../components/Banner/estilos.styl"

/*EMPRENDIMIENTOS*/
@import "../components/Emprendimientos/estilos.styl"

/*NEWS*/
@import "../components/News/estilos.styl"

/*ALIADOS*/
@import "../components/Aliados/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"

/*REDES*/
@import "../components/Redes/estilos.styl"

@media screen and (min-width:1100px)
	.Twitter
		display inline-block