/*ALIADOS*/

.Aliados	
		
	&-titleC
		margin-top -3.5em
		background white
		display inline-block
		
		& > .u-mainTitle
			margin 0 60px
		
	&-item
		width 244px
		height 244px
		display inline-block

/*Contoles Owl*/

.Aliados-list .owl-controls .owl-buttons div
	position absolute
	top 40%
	font-size 3em
	color $verde
	opacity 1
	padding 0
	border-radius inherit
	background transparent
	
.Aliados-list .owl-controls .owl-buttons div span
	vertical-align middle
	display block
	
.Aliados-list .owl-controls .owl-buttons .owl-prev 
	left -40px

.Aliados-list .owl-controls .owl-buttons .owl-next
	right -40px