div.u-bordePunto
	div.Aliados-titleC
		h2.u-mainTitle
			|	NUESTROS ALIADOS
div.u-centrar
	div.Aliados-list
		div.Aliados-item
			img(src="../images/01-index/wok.png")
		div.Aliados-item
			img(src="../images/01-index/exito.png")
		div.Aliados-item
			img(src="../images/01-index/claro.png")
		div.Aliados-item
			img(src="../images/01-index/andres.png")
		div.Aliados-item
			img(src="../images/01-index/wok.png")