div.u-centrar
	h2.u-mainTitle
		|	¿QUIENES SOMOS?
	section.About
		div.Video-container
			iframe(width="420", height="315", src="https://www.youtube.com/embed/YtqpxD1w7R0", frameborder="0", allowfullscreen)
		p
			|	Somos una entidad adscrita al Ministerio de Hacienda y Crédito público del Gobierno Colombiano que fue inicialmente creada para atender la construcción, reconstrucción, recuperación y reactivación económica y social de las zonas afectadas por los eventos derivados del fenómeno de La Niña de los años 2010 y 2011.
		p
			|	Desde que iniciamos nuestra labor a finales de 2011 hemos cumplido con nuestro compromiso, liderando acciones de reconstrucción con transformación que han contribuido al desarrollo sostenible, al bienestar económico y social y a mejorar la calidad de vida de miles de colombianos en todas las regiones del país.
		p
			|	En el 2015, con la expedición de la Ley 1753 de 2015 mediante la cual se adopta el Plan de desarrollo 2014-2018 “Todos por un nuevo país”, se le atribuyó al Fondo la facultad de ejecutar proyectos integrales de Gestión del riesgo y adaptación al cambio climático con un enfoque multisectorial y regional, además de los relacionados con el fenómeno de La Niña. Dicha facultad le permitirá utilizar su experiencia y conocimiento en la ejecución de proyectos enfocados a generar transformaciones estructurales en el desarrollo territorial para reducir los riesgos asociados a los cambios ambientales globales que estamos viviendo, de tal manera que el país esté mejor adaptado a sus condiciones climáticas. Lo anterior permitirá fortalecer el Sistema Nacional de Gestión del Riesgo de Desastres y las políticas ambientales y de gestión del cambio climático.
		h2.u-mainTitle
			|	Nuestra historia
		p
			|	Somos una entidad adscrita al Ministerio de Hacienda y Crédito público del Gobierno Colombiano que fue inicialmente creada para atender la construcción, reconstrucción, recuperación y reactivación económica y social de las zonas afectadas por los eventos derivados del fenómeno de La Niña de los años 2010 y 2011.
		p
			|	Desde que iniciamos nuestra labor a finales de 2011 hemos cumplido con nuestro compromiso, liderando acciones de reconstrucción con transformación que han contribuido al desarrollo sostenible, al bienestar económico y social y a mejorar la calidad de vida de miles de colombianos en todas las regiones del país.
		p
			|	En el 2015, con la expedición de la Ley 1753 de 2015 mediante la cual se adopta el Plan de desarrollo 2014-2018 “Todos por un nuevo país”, se le atribuyó al Fondo la facultad de ejecutar proyectos integrales de
		h2.u-mainTitle
			|	El futuro
		p
			|	Somos una entidad adscrita al Ministerio de Hacienda y Crédito público del Gobierno Colombiano que fue inicialmente creada para atender la construcción, reconstrucción, recuperación y reactivación económica y social de las zonas afectadas por los eventos derivados del fenómeno de La Niña de los años 2010 y 2011.
		p
			|	Desde que iniciamos nuestra labor a finales de 2011 hemos cumplido con nuestro compromiso, liderando acciones de reconstrucción con transformación que han contribuido al desarrollo sostenible, al bienestar económico y social y a mejorar la calidad de vida de miles de colombianos en todas las regiones del país.
		p
			|	En el 2015, con la expedición de la Ley 1753 de 2015 mediante la cual se adopta el Plan de desarrollo 2014-2018 “Todos por un nuevo país”, se le atribuyó al Fondo la facultad de ejecutar proyectos integrales de
	h2.u-mainTitle
		|	FOTOS
	div.About-fotos
		a.About-fotosItem(href="../images/02-quienes/01.jpg", data-lightbox="Album 1", data-title="Album 1")
			figure
				img(src="../images/02-quienes/01.jpg")
				figcaption.u-mainTitle
					|	Album 1
		a.About-fotosItem(href="../images/02-quienes/02.jpg", data-lightbox="Album 2", data-title="Album 2")
			figure
				img(src="../images/02-quienes/02.jpg")
				figcaption.u-mainTitle
					|	Album 2
		a.About-fotosItem(href="../images/02-quienes/03.jpg", data-lightbox="Album 3", data-title="Album 3")
			figure
				img(src="../images/02-quienes/03.jpg")
				figcaption.u-mainTitle
					|	Album 3
		a.About-fotosItem(href="../images/02-quienes/03.jpg", data-lightbox="Album 1", data-title="Album 1")
			figure
				img(src="../images/02-quienes/03.jpg")
				figcaption.u-mainTitle
					|	Album 1
	h2.u-mainTitle
		|	VIDEOS
	div.About-videos
		div.About-videosItem
			div.About-videosC
				iframe(width="420", height="315", src="https://www.youtube.com/embed/YtqpxD1w7R0", frameborder="0", allowfullscreen)
			span.u-mainTitle
				|	Video 1
		div.About-videosItem
			div.About-videosC
				iframe(width="420", height="315", src="https://www.youtube.com/embed/YtqpxD1w7R0", frameborder="0", allowfullscreen)
			span.u-mainTitle
				|	Video 2
		div.About-videosItem
			div.About-videosC
				iframe(width="420", height="315", src="https://www.youtube.com/embed/YtqpxD1w7R0", frameborder="0", allowfullscreen)
			span.u-mainTitle
				|	Video 3
		div.About-videosItem
			div.About-videosC
				iframe(width="420", height="315", src="https://www.youtube.com/embed/YtqpxD1w7R0", frameborder="0", allowfullscreen)
			span.u-mainTitle
				|	Video 4